.meny-card {
    flex: 1;
    width: 100%;
    background-image: linear-gradient(rgba(153, 120, 62, 0.8), rgba(117, 86, 34, 0.8));
    border-radius: 1rem;
    padding: 1rem;
    border: 5px dotted rgb(99, 56, 0);
}

.meny-card h3 {
    font-size: clamp(1.3rem, 1.5vw, 2rem);
}

.meny-card p {
    font-size: clamp(1rem, 1vw, 1.5rem);
    color: rgba(255, 255, 255, 0.685);
}