/* meny styles */
.meny-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 3rem;
    padding: 3rem;
    background-color: rgb(50, 71, 33);
    border-radius: 1rem;
}

.meny-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}